<!doctype html>


<style>
  .circle {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    z-index: -1;
  }

  .square {
      position: absolute;
      background-color: white;
      z-index: -1; /* Valeur inférieure pour placer le carré en arrière-plan */
    }

  </style>



<html>
  {% include head.html %}
  <body>
    <div class="container">
      {% include header.html %}
      <div class="content-container">
        {{ content }}
      </div>
      {% include footer.html %}
    </div>


    <script>
      document.addEventListener("DOMContentLoaded", function() {
        const container = document.querySelector('.container');
        const circlesContainer = document.createElement('div');
        circlesContainer.classList.add('circles-container');
      
        const padding = -40; // Espacement entre les cercles
        const rowLimit = 4; // Nombre de lignes pour l'alternance
        
        let leftPosition = -20; // Position initiale à gauche
        let rowCounter = 0; // Compteur pour suivre les lignes
      
        while (leftPosition < window.innerWidth) {
          if (rowCounter < 3) {
            const square = document.createElement('div');
            square.classList.add('square');
            square.style.top = '0';
            square.style.left = '0';
            square.style.width = window.innerWidth + 'px';
            square.style.height = '50px';
            circlesContainer.appendChild(square);
            rowCounter++;
          } else {
            const circle = document.createElement('div');
            circle.classList.add('circle');
            const randomSize = Math.floor(Math.random() * 21) + 40; // Taille aléatoire entre 40 et 60
            let circleWidth = randomSize; // Largeur aléatoire des cercles
            const verticalOffset = Math.floor(Math.random() * 21) + 5; // Offset vertical aléatoire entre 5 et 25
            
            const verticalPos = rowCounter % 2 === 0 ? verticalOffset : 0;
            circle.style.top = verticalPos + 'px';
            circle.style.left = leftPosition + 'px';
            
            // Vérifier si le cercle dépasse la limite de la page
            if (leftPosition + circleWidth <= window.innerWidth) {
              circle.style.width = circleWidth + 'px';
              circle.style.height = circle.style.width;
              circlesContainer.appendChild(circle);
              leftPosition += circleWidth + padding;
              rowCounter++;
            } else {
              circleWidth = window.innerWidth - leftPosition;
              circle.style.width = circleWidth + 'px';
              circle.style.height = circle.style.width;
              circlesContainer.appendChild(circle);
              leftPosition += circleWidth + padding;
              rowCounter++;
            }
          }
        }
      
        container.appendChild(circlesContainer);
      });
    
    </script>




  </body>
</html>



