<!doctype html>


<style>
  .circle {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    z-index: -1;
  }

  .square {
      position: absolute;
      background-color: white;
      z-index: -1; /* Valeur inférieure pour placer le carré en arrière-plan */
    }

  </style>



<html>
  {% include head.html %}
  <body>
    <div class="container">
      {% include header.html %}
      <div class="content-container">
        {{ content }}
      </div>
      {% include footer.html %}
    </div>


    <script>
      document.addEventListener("DOMContentLoaded", function() {
        const container = document.querySelector('.container');
        const circlesContainer = document.createElement('div');
        circlesContainer.classList.add('circles-container');
    
        const padding = -40; // Espacement entre les cercles
        const rowLimit = 6; // Nombre de lignes pour l'alternance
        
        let leftPosition = -20; // Position initiale à gauche
        let rowCounter = 0; // Compteur pour suivre les lignes
        let maxWidthReached = false; // Variable pour vérifier si la largeur maximale est atteinte
    
        while (!maxWidthReached && rowCounter < rowLimit) {
          if (rowCounter < 3) {
            const square = document.createElement('div');
            square.classList.add('square');
            square.style.top = rowCounter * 50 + 'px'; // Positionnement du carré au sommet de la fenêtre
            square.style.left = '0'; // Positionnement du carré à gauche
            square.style.width = window.innerWidth + 'px'; // Largeur du carré égale à la fenêtre
            square.style.height = '50px'; // Hauteur fixe pour les six premières lignes
            circlesContainer.appendChild(square);
          } else {
            const circle = document.createElement('div');
            circle.classList.add('circle');
            const randomSize = Math.floor(Math.random() * 21) + 40; // Taille aléatoire entre 40 et 60
            const circleWidth = randomSize; // Largeur aléatoire des cercles
            const verticalOffset = Math.floor(Math.random() * 21) + 5; // Offset vertical aléatoire entre 5 et 25
            
            const verticalPos = rowCounter % 2 === 0 ? verticalOffset : 0; // Alterner les lignes sur une période de quatre lignes
            circle.style.top = rowCounter * 50 + verticalPos + 'px'; // Positionnement du cercle au sommet de la fenêtre
            circle.style.left = leftPosition + 'px'; // Positionnement du cercle à gauche
            circle.style.width = circleWidth + 'px'; // Largeur des cercles
            circle.style.height = circle.style.width; // Assurer que la hauteur est la même que la largeur pour former des cercles
            circlesContainer.appendChild(circle);
    
            leftPosition += circleWidth + padding; // Mise à jour de la position à gauche
          }
    
          rowCounter++; // Incrémentation du compteur de lignes
        }
    
        container.appendChild(circlesContainer);
      });
    </script>




  </body>
</html>



