<!doctype html>


<style>
  .circle {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    z-index: -1;
  }
  </style>



<html>
  {% include head.html %}
  <body>
    <div class="container">
      {% include header.html %}
      <div class="content-container">
        {{ content }}
      </div>
      {% include footer.html %}
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", function() {
        const container = document.querySelector('.container');
        const circlesContainer = document.createElement('div');
        circlesContainer.classList.add('circles-container');
  
        const circleWidth = 50; // Largeur fixe des cercles
        const padding = 20; // Espacement entre les cercles
        const verticalOffset = 10; // Offset vertical entre les lignes
  
        let leftPosition = 0; // Position initiale à gauche
        let oddRow = false; // Variable pour alterner les lignes en quinconce
  
        while (leftPosition + circleWidth <= window.innerWidth) {
          const circle = document.createElement('div');
          circle.classList.add('circle');
          const verticalPos = oddRow ? verticalOffset : 0; // Calcul de l'offset vertical alternatif
          circle.style.top = verticalPos + 'px'; // Positionnement du cercle au sommet de la fenêtre
          circle.style.left = leftPosition + 'px'; // Positionnement du cercle à gauche
          circle.style.width = circleWidth + 'px'; // Largeur fixe des cercles
          circle.style.height = circle.style.width; // Assurer que la hauteur est la même que la largeur pour former des cercles
          circlesContainer.appendChild(circle);
  
          leftPosition += circleWidth + padding; // Mise à jour de la position à gauche
          oddRow = !oddRow; // Alterner les lignes
        }
  
        container.appendChild(circlesContainer);
      });
    </script>





  </body>
</html>



