---
layout: default
---

<style>
  body {
    margin: 0;
  }

  #content-wrapper {
    /* Fond de couleur pour le contenu */
    background-color: #f4bb10;
    /* Autres styles pour l'élément contenant le contenu */
    position: relative; /* Nécessaire pour que les bulles soient positionnées correctement */
    overflow: hidden; /* Pour cacher les bulles qui dépassent */
  }

  /* Styles pour les bulles */
  .bubble {
    position: absolute;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    animation-name: bubbleAnimation;
    animation-duration: 3s; /* Durée de l'animation */
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  /* Animation des bulles */
  @keyframes bubbleAnimation {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-100vh); /* Déplacement des bulles vers le haut */
      opacity: 1; /* Rendre les bulles visibles */
    }
    100% {
      transform: translateY(-200vh); /* Assurez-vous que les bulles ne sont plus visibles */
      opacity: 0; /* Rendre les bulles invisibles */
    }
  }

  /* Styles spécifiques pour chaque bulle si nécessaire */
  .bubble1 {
    width: 20px;
    height: 20px;
    top: 0;
    left: 10%;
    animation-delay: 1s; /* Délai pour le début de l'animation */
  }

  .bubble2 {
    width: 30px;
    height: 30px;
    top: 0;
    left: 25%;
    animation-delay: 2s;
  }

  /* Ajoutez d'autres bulles selon vos besoins */
</style>

<div id="content-wrapper">
  <h1>
    {{ page.title }}
  </h1>
  <article>
    {{ content }}
  </article>

  <!-- Ajoutez des éléments pour représenter les bulles -->
  <div class="bubble bubble1"></div>
  <div class="bubble bubble2"></div>
  <!-- Ajoutez plus d'éléments de bulles si nécessaire -->
</div>
