---
layout: default
---

<style>
  /* Styles pour le corps si nécessaire */
  body {
    margin: 0;
    /* Fond de couleur pour toute la page */
    background-color: #ebbb40;
    z-index: -3;
    overflow-x: hidden; /*modif */
  }



  /* Styles pour les bulles */
  .bubble {
    position: absolute;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    animation-name: bubbleAnimation;
    animation-duration: 5s; /* Durée de l'animation */
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    opacity: 0; /* Rendre les bulles initialement invisibles */
    z-index: -2;
  }

  /* Animation des bulles */
  @keyframes bubbleAnimation {
    0% {
      transform: translateY(0);
      opacity: 0; /* Rendre les bulles initialement invisibles */
    }
    50% {
      transform: translateY(-100vh); /* Déplacement des bulles vers le haut */
      opacity: 1; /* Rendre les bulles visibles */
    }
    100% {
      transform: translateY(-200vh); /* Assurez-vous que les bulles ne sont plus visibles */
      opacity: 1; /* Rendre les bulles invisibles */
    }
  }

/* Bande blanche pour la datastory */
  .white-background {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 850px;
    height: 100%;
    background-color: white;
    z-index: -1;
  }




</style>


<div class="white-background"></div>

<h1>
  {{ page.title }}
</h1>
<article>
  {{ content }}
</article>



<!-- Ajout d'éléments pour représenter les bulles -->
<script>
  function createBubbles() {
    const windowHeight = window.innerHeight;
    const documentHeight = document.documentElement.scrollHeight;
    const totalHeight = Math.max(windowHeight, documentHeight);

    for (let i = 1; i <= 100; i++) {
      const bubble = document.createElement('div');
      bubble.classList.add('bubble');
      const bubbleSize = Math.floor(Math.random() * 50) + 10;
      bubble.style.width = bubbleSize + 'px';
      bubble.style.height = bubbleSize + 'px';
      bubble.style.top = Math.random() * (totalHeight - bubbleSize) + 'px';
      bubble.style.left = Math.random() * (window.innerWidth - bubbleSize) + 'px';
      bubble.style.animationDelay = Math.random() * 1 + 's';

      document.body.appendChild(bubble);
    }
  }
  
  setTimeout(createBubbles, 100);
</script>

